.div1.fly-birds-page_72d07c6044 {
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;
}
.div1.fly-birds-page_72d07c6044,
.div1.fly-birds-page_72d07c6044 .div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_72d07c6044 .div2 {
  align-items: center;
  height: 4.80469rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div2 .image3 {
  height: 4.80469rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -4.09375rem;
  min-height: 0.96094rem;
  width: 4.6875rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 .div6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -0.24609rem;
  min-height: 0.25rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 .div6 .text-container-1007 {
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 .div6 .text-container-1007 .image5 {
  display: inline-block;
  height: 0.24609rem;
  margin-right: 0.11719rem;
  width: 1.52344rem;
  z-index: 0;
}
.div1.fly-birds-page_72d07c6044
  .div2
  .div4
  .div6
  .text-container-1007
  .split_text1068 {
  color: #fff;
  display: inline;
  font-size: 0.34375rem;
  font-weight: 700;
  line-height: 0.43359rem;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 .div7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.15625rem;
  width: 3.14453rem;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 .div7 .split_text1065 {
  color: #fff;
  font-size: 0.1875rem;
  font-weight: 500;
  line-height: 0.08594rem;
  text-align: start;
  width: 3.9rem;
}
.div1.fly-birds-page_72d07c6044 .div2 .div4 .div8 {
  color: #fff;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 0.34375rem;
  margin-top: 0.15625rem;
}
.div1.fly-birds-page_72d07c6044 .div10 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 4.6875rem;
  justify-content: flex-start;
  padding-bottom: 1.42578rem;
  width: 10rem;
  z-index: 2;
}
.div1.fly-birds-page_72d07c6044 .div10 .image11 {
  height: 4.6875rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_72d07c6044 .div10 .div12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3.11719rem;
  margin-top: -3.57422rem;
  width: 2.51563rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div10 .div12 .div13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.73438rem;
}
.div1.fly-birds-page_72d07c6044 .div10 .div12 .div13 .split_text1072 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div10 .div12 .div14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.07813rem;
  width: 2.77344rem;
}
.div1.fly-birds-page_72d07c6044 .div10 .div12 .div14 .split_text1073 {
  color: #000;
  font-size: 0.10938rem;
  font-weight: 400;
  line-height: 0.14844rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div10 .div15 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin-left: 3.35938rem;
  margin-top: 0.45703rem;
  min-height: 0.36328rem;
  min-width: 2.77344rem;
  z-index: 3;
}
.div1.fly-birds-page_72d07c6044 .div10 .div15 .image16 {
  flex-basis: 0.36328rem;
  height: 0.36328rem;
  width: 0.35938rem;
}
.div1.fly-birds-page_72d07c6044 .div10 .div15 .div17 {
  margin-left: 0.11719rem;
  width: 2.14844rem;
}
.div1.fly-birds-page_72d07c6044 .div10 .div15 .div17 .split_text1075 {
  color: #000;
  font-size: 0.16016rem;
  font-weight: 700;
  line-height: 0.19141rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div10 .div18 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3.35938rem;
  margin-top: 0.10938rem;
  width: 2.77344rem;
  z-index: 2;
}
.div1.fly-birds-page_72d07c6044 .div10 .div18 .image19 {
  height: 0.36328rem;
  width: 0.35938rem;
}
.div1.fly-birds-page_72d07c6044 .div10 .div18 .div20 {
  margin-left: 0.11719rem;
  margin-top: -0.00781rem;
  min-height: 0.15234rem;
  width: 2.14844rem;
}
.div1.fly-birds-page_72d07c6044 .div10 .div18 .div20 .split_text1074 {
  color: #000;
  font-size: 0.16016rem;
  font-weight: 700;
  line-height: 0.19141rem;
  text-align: center;
}
.div1.fly-birds-page_72d07c6044 .div21 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4.54688rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 3;
}
.div1.fly-birds-page_72d07c6044 .div21 .image22 {
  height: 4.54688rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_72d07c6044 .div21 .div23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -7.83203rem;
  margin-top: 0.13672rem;
  min-height: 0.90234rem;
  width: 2.48047rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div21 .div23 .div24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.45313rem;
  width: 2.53906rem;
}
.div1.fly-birds-page_72d07c6044 .div21 .div23 .div24 .text-container-1012 {
  text-align: start;
}
.div1.fly-birds-page_72d07c6044
  .div21
  .div23
  .div24
  .text-container-1012
  .split_text1076 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 1.1;
}
.div1.fly-birds-page_72d07c6044
  .div21
  .div23
  .div24
  .text-container-1012
  .split_text1077 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 400;
  line-height: 0.23438rem;
}
.div1.fly-birds-page_72d07c6044
  .div21
  .div23
  .div24
  .text-container-1012
  .split_text1078 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 0.23438rem;
}
.div1.fly-birds-page_72d07c6044 .div21 .div23 .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.01953rem;
  min-height: 0.25rem;
  width: 2.46094rem;
}
.div1.fly-birds-page_72d07c6044 .div21 .div23 .div25 .split_text1079 {
  color: #000;
  font-size: 0.10938rem;
  font-weight: 400;
  line-height: 0.14844rem;
  text-align: start;
  width: 2.47266rem;
}
.div1.fly-birds-page_72d07c6044 .div26 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 4.30859rem;
  justify-content: flex-start;
  padding-right: 2.38281rem;
  width: 10rem;
  z-index: 4;
}
.div1.fly-birds-page_72d07c6044 .div26 .image27 {
  height: 4.30859rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_72d07c6044 .div26 .div28 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.05469rem;
  margin-top: -0.16016rem;
  min-height: 1.05469rem;
  width: 1.67188rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div26 .div28 .div29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.45703rem;
  width: 1.79688rem;
}
.div1.fly-birds-page_72d07c6044 .div26 .div28 .div29 .split_text1080 {
  color: #fff;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div26 .div28 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_72d07c6044 .div26 .div28 .div30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.19922rem;
  min-height: 0.39844rem;
  width: 1.67188rem;
}
.div1.fly-birds-page_72d07c6044 .div26 .div28 .div30 .split_text1081 {
  color: #fff;
  font-size: 0.10938rem;
  font-weight: 400;
  line-height: 0.14844rem;
  text-align: start;
  width: 1.83984rem;
}
.div1.fly-birds-page_72d07c6044 .div31 {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 4.60938rem;
  justify-content: flex-start;
  padding-top: 0.58594rem;
  width: 10rem;
  z-index: 5;
}
.div1.fly-birds-page_72d07c6044 .div31 .image32 {
  height: 5.51563rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_72d07c6044 .div31 .div33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.17188rem;
  width: 1.75781rem;
  z-index: 1;
}
.div1.fly-birds-page_72d07c6044 .div31 .div33 .split_text1082 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 0.23438rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div31 .div34 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 0.37109rem;
  width: 3.07813rem;
  z-index: 3;
}
.div1.fly-birds-page_72d07c6044 .div31 .div34 .image35 {
  height: 1.89453rem;
  width: 3.07813rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div34 .div36 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.42969rem;
  margin-top: 0.38281rem;
  width: 2.40234rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div34 .div36 .split_text1085 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 0.23438rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div31 .div34 .div37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.42969rem;
  margin-top: 0.19922rem;
  width: 2.40234rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div34 .div37 .split_text1086 {
  color: #000;
  font-size: 0.10938rem;
  font-weight: 400;
  line-height: 0.14844rem;
  text-align: start;
  width: 2.35547rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .box {
  display: flex;
  margin-top: 0.3125rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div38 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 3.07813rem;
  z-index: 20;
}
.div1.fly-birds-page_72d07c6044 .div31 .div38 .image39 {
  height: 1.89453rem;
  width: 3.07813rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div38 .div40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.82031rem;
  margin-top: 0.38281rem;
  width: 1.95313rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div38 .div40 .split_text1083 {
  color: #000;
  font-size: 0.23438rem;
  font-weight: 700;
  line-height: 0.23438rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .div31 .div38 .div41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.82031rem;
  margin-top: 0.19531rem;
  width: 1.60547rem;
}
.div1.fly-birds-page_72d07c6044 .div31 .div38 .div41 .split_text1084 {
  color: #000;
  font-size: 0.10938rem;
  font-weight: 400;
  line-height: 0.14844rem;
  text-align: start;
  width: 2.05469rem;
}
.div1.fly-birds-page_72d07c6044 .section_01 {
  align-items: center;
  background-color: #d6d6d9;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.19531rem 3.125rem;
  width: 10rem;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 {
  z-index: 4;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 .div45 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.07422rem;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 .div45 .split_text1087 {
  color: #333337;
  font-size: 0.07813rem;
  font-weight: 300;
  line-height: 0.10156rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 .div46 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.07422rem;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 .div46 .split_text1088 {
  color: #333337;
  font-size: 0.07813rem;
  font-weight: 300;
  line-height: 0.10156rem;
  text-align: start;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 .div47 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.07813rem;
}
.div1.fly-birds-page_72d07c6044 .section_01 .div42 .div47 .split_text1089 {
  color: #333337;
  font-size: 0.07813rem;
  font-weight: 300;
  line-height: 0.10156rem;
  text-align: start;
}
.specs-con {
  background-color: #fff;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1226px;
}


.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translateZ(0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-direction: column;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  margin: 0 auto;
  transition-timing-function: ease-out;
}
.swiper-container-pointer-events {
  touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-container-3d {
  perspective: 1200px;
}
.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}
.swiper-container-css-mode > .swiper-wrapper {
  -ms-overflow-style: none;
  overflow: auto;
  scrollbar-width: none;
}
.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}



html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.xm-link {
  display: inline-block;
  text-decoration: none;
}

.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}

.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: transparent;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
  position: relative;
}

.kh .xm-text,
.mm .xm-text,
.th .xm-text {
  line-height: 1.5 !important;
} /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 0.00391rem dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 0.00391rem solid silver;
  margin: 0 0.00781rem;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.42969rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.39063rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.35156rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.23438rem;
}
.eco_ksp {
  font-size: 0.11719rem;
  line-height: 0.17188rem;
}
.eco_name-radius {
  border-radius: 0.01563rem;
  font-size: 0.15625rem;
  line-height: 0.22656rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.11719rem 0.13672rem;
}
.eco_title {
  font-size: 0.23438rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.11719rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.10938rem;
}
.eco_number {
  font-size: 0.42969rem;
  line-height: 0.42969rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.price-common {
  font-size: 0.25781rem;
  font-weight: 300;
}
.price-common .xm-price__from {
  font-size: 60%;
  margin: 0 0.03906rem;
}
.price-common .xm-price__sNum {
  font-weight: 700;
  margin: 0;
}
.price-common .xm-price__label {
  font-size: 60%;
  margin: 0;
}
.price-common .xm-price--current .xm-price__label {
  font-size: 100%;
  font-weight: 700;
}
.price-common .xm-price--sale {
  margin-right: 0.03906rem;
}
.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
  margin: 0;
}
.price-common .xm-price--origin .xm-price__label {
  font-size: 100%;
}
.price-common .xm-price--origin .xm-price__mNum {
  margin: 0;
}

.eco_specs-title {
  font-size: 0.10938rem;
  line-height: 0.14063rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.07031rem;
  line-height: 0.10156rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}

a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}
